In [1]:
import pandas as pd

In [2]:
interactionsData = pd.read_excel("./Data/Raw/Interacciones.xlsx")
interactionsData.head()

   Promedio de duración  Tiempo en página    ID      Fecha  hour  minute
0                    27                41  1864 2019-06-05     0      23
1                    27                53  1215 2019-06-05     0      26
2                    14                39  1933 2019-06-05     0       5
3                    47                57  1605 2019-06-05     0       7
4                    24                53  1626 2019-06-05     0       7

In [4]:
interactionsData.shape, demographicData.shape

((100, 6), (100, 9))

In [20]:
clasificatorData = pd.merge(interactionsData, demographicData, on="ID", how="left")
clasificatorData

,Promedio de duración,Tiempo en página,ID,Fecha_x,hour,minute,browser,Ciudad,Fecha_y,device,Sistema Operativo,Sesion,Duracion,Tiempo en pagina
0,27,41,1864,2019-06-05,0,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27,53,1215,2019-06-05,0,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14,39,1933,2019-06-05,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,47,57,1605,2019-06-05,0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,53,1626,2019-06-05,0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,15,35,1953,2019-06-05,0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,37,51,1194,2019-06-05,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,32,34,1593,2019-06-05,0,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,41,58,1770,2019-06-05,0,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,29,45,1360,2019-06-05,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,14,58,1977,2019-06-05,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,57,1645,2019-06-05,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,49,36,1300,2019-06-05,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,37,34,1304,2019-06-05,0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,43,43,1142,2019-06-05,0,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,20,45,1295,2019-06-05,0,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,22,52,1809,2019-06-05,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,41,37,1236,2019-06-05,0,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,15,37,1919,2019-06-05,0,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,17,38,1266,2019-06-05,1,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,38,58,1322,2019-06-05,1,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,14,42,1358,2019-06-05,1,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,13,42,1049,2019-06-05,1,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,31,42,1884,2019-06-05,1,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,15,59,1085,2019-06-05,1,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,31,48,1294,2019-06-05,2,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,21,55,1887,2019-06-05,2,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,50,55,1743,2019-06-05,2,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,24,56,1803,2019-06-05,2,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,35,36,1369,2019-06-05,2,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,42,37,1950,2019-06-05,6,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,24,41,1529,2019-06-05,6,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,50,53,1682,2019-06-05,6,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,18,45,1980,2019-06-05,6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,21,43,1035,2019-06-05,6,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,47,49,1385,2019-06-05,6,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,12,39,1832,2019-06-05,6,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,15,55,1022,2019-06-05,6,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,33,43,1806,2019-06-05,6,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,30,49,1483,2019-06-05,6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,26,31,1371,2019-06-05,6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,26,50,1171,2019-06-05,6,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,33,38,1462,2019-06-05,6,41,Safari,Guaspí,2019-06-01T05:27:00.000Z,mobile,iOS,7.0,34.0,24.0
83,48,31,1791,2019-06-05,6,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,43,40,1387,2019-06-05,6,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,46,46,1213,2019-06-05,6,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,50,50,1512,2019-06-05,6,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,45,35,1904,2019-06-05,6,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,11,39,1420,2019-06-05,6,27,Chrome,Guaspí,2019-06-01T02:03:00.000Z,mobile,Android,11.0,47.0,28.0
89,43,41,1837,2019-06-05,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,49,50,1910,2019-06-05,6,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,11,57,1949,2019-06-05,6,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,49,47,1327,2019-06-05,6,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,22,52,1798,2019-06-05,6,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,42,30,1652,2019-06-05,6,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,34,52,1693,2019-06-05,6,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,28,58,1864,2019-06-05,7,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,34,40,1183,2019-06-05,7,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,19,57,1918,2019-06-05,7,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,23,54,1352,2019-06-05,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
demographicData = pd.read_excel("./Data/Raw/Demografía.xlsx")
demographicData.head()

,browser,Ciudad,Fecha,device,ID,Sistema Operativo,Sesion,Duracion,Tiempo en pagina
0,Chrome,Guaspí,2019-06-01T00:00:00.000Z,desktop,1136,Windows,6,51,58
1,Chrome,Guaspí,2019-06-01T00:01:00.000Z,desktop,1224,Windows,9,49,36
2,Chrome,Cereté,2019-06-01T00:01:00.000Z,mobile,1630,Android,2,56,31
3,Chrome,Dallas,2019-06-01T00:02:00.000Z,mobile,1133,Android,4,52,27
4,Chrome,Tunja,2019-06-01T00:03:00.000Z,mobile,1585,Android,9,31,57

In [4]:
convertionsData = pd.read_excel("./Data/Raw/Conversiones.xlsx")
convertionsData.head()

,Campaña,Grupo,Asistente,Creatividad,Número objetivo de conversión,Fecha,Medio,source,Total de conversiones
0,Toma Más,5,1,Azucaradas,413,2019-06-01T00:00:00.000Z,3,2,268
1,La mejor,4,1,Azucaradas,303,2019-06-01T00:00:00.000Z,3,3,168
2,Toma Más,4,2,Innigualable,433,2019-06-01T00:00:00.000Z,3,5,114
3,Lo que te hace falta,1,2,Innigualable,152,2019-06-01T00:00:00.000Z,1,4,206
4,La mejor,2,4,Te lo mereces,389,2019-06-01T00:00:00.000Z,3,2,198

In [2]:
analyticsData = pd.read_excel("./Data/Raw/Analitica.xlsx")
analyticsData.head()

,Marca,Campaña,conversion,Fecha,Medio,Fuente
0,Pepsi,Lo que te hace falta,14,2019-06-09T00:00:00.000Z,Radio,RCN
1,Cocacola,Lo que te hace falta,62,2019-06-09T00:01:00.000Z,Televisión,Facebook
2,Aceite de coco,La mejor,62,2019-06-09T00:01:00.000Z,Internet,RCN
3,Pepsi,Lo que te hace falta,87,2019-06-09T00:02:00.000Z,Internet,RCN
4,Pepsi,La mejor,7,2019-06-09T00:03:00.000Z,Internet,RCN

In [3]:
parrillaData = pd.read_excel("./Data/Raw/Parrilla.xlsx")
parrillaData.head()

,channel,end_date,Formato,inversion,medium,rating,reference,start_date
0,Caracol,2019-06-01T09:55:16.000Z,Corto,648723,Radio,3,Tomala,2019-06-01T09:54:56.000Z
1,Caracol,2019-06-01T10:29:44.000Z,Largo,949072,Televisión,8,Tomala,2019-06-01T10:29:24.000Z
2,Caracol,2019-06-01T14:44:27.000Z,Largo,911123,Internet,2,Disfrutala,2019-06-01T14:44:07.000Z
3,Caracol,2019-06-01T19:20:52.000Z,Largo,922200,Internet,2,Tomala,2019-06-01T19:20:32.000Z
4,Caracol,2019-06-02T09:54:08.000Z,Corto,733026,Internet,3,Disfrutala,2019-06-02T09:53:48.000Z