In [5]:
import pandas as pd
import numpy as np

In [4]:
interactionsData = pd.read_excel("./Data/Raw/Interacciones.xlsx")
demographicData = pd.read_excel("./Data/Raw/Demografía.xlsx")
demographicData.drop(["Tiempo en pagina"], axis=1, inplace=True)
classifierData = pd.merge(interactionsData, demographicData, on="ID", how="left")
classifierData["ATL"] = classifierData["browser"].isnull().astype(int)
classifierData.drop(["ID", "Fecha_x", "browser", "Ciudad", "Fecha_y", "device",
                     "Sistema Operativo", "Sesion ", "Duracion"],
                    axis=1, inplace=True)
classifierData.to_csv("./Data/Tidy/classifierData.csv", index=False)
classifierData.head()

In [7]:
parrillaData = pd.read_excel("./Data/Raw/Parrilla.xlsx")
parrillaTable = pd.pivot_table(parrillaData, index=["channel", "medium"], columns=["Formato"],
                           values=["inversion"], aggfunc=np.mean)
parrillaTable

                        inversion
Formato                     Corto          Largo
channel medium
Caracol Internet    727864.857143  828464.222222
        Radio       804398.555556  704447.500000
        Televisión  734155.384615  736084.454545
RCN     Internet     57422.000000   46142.857143
        Radio        45220.000000   48450.000000
        Televisión   53833.250000   51680.000000