In [1]:
import pandas as pd

In [4]:
interactionsData = pd.read_excel("./Data/Raw/Interacciones.xlsx")
demographicData = pd.read_excel("./Data/Raw/Demografía.xlsx")
demographicData.drop(["Tiempo en pagina"], axis=1, inplace=True)
classifierData = pd.merge(interactionsData, demographicData, on="ID", how="left")
classifierData["ATL"] = classifierData["browser"].isnull().astype(int)
classifierData.drop(["ID", "Fecha_x", "browser", "Ciudad", "Fecha_y", "device",
                     "Sistema Operativo", "Sesion ", "Duracion"],
                    axis=1, inplace=True)
classifierData.to_csv("./Data/Tidy/classifierData.csv", index=False)
classifierData.head()

In [27]:
parrillaData = pd.read_excel("./Data/Raw/Parrilla.xlsx")
parrillaData.head()

,channel,end_date,Formato,inversion,medium,rating,reference,start_date
0,Caracol,2019-06-01T09:55:16.000Z,Corto,648723,Radio,3,Tomala,2019-06-01T09:54:56.000Z
1,Caracol,2019-06-01T10:29:44.000Z,Largo,949072,Televisión,8,Tomala,2019-06-01T10:29:24.000Z
2,Caracol,2019-06-01T14:44:27.000Z,Largo,911123,Internet,2,Disfrutala,2019-06-01T14:44:07.000Z
3,Caracol,2019-06-01T19:20:52.000Z,Largo,922200,Internet,2,Tomala,2019-06-01T19:20:32.000Z
4,Caracol,2019-06-02T09:54:08.000Z,Corto,733026,Internet,3,Disfrutala,2019-06-02T09:53:48.000Z