In [5]:
import pandas as pd
import numpy as np

In [4]:
interactionsData = pd.read_excel("./Data/Raw/Interacciones.xlsx")
demographicData = pd.read_excel("./Data/Raw/Demografía.xlsx")
demographicData.drop(["Tiempo en pagina"], axis=1, inplace=True)
classifierData = pd.merge(interactionsData, demographicData, on="ID", how="left")
classifierData["ATL"] = classifierData["browser"].isnull().astype(int)
classifierData.drop(["ID", "Fecha_x", "browser", "Ciudad", "Fecha_y", "device",
                     "Sistema Operativo", "Sesion ", "Duracion"],
                    axis=1, inplace=True)
classifierData.to_csv("./Data/Tidy/classifierData.csv", index=False)
classifierData.head()

In [8]:
parrillaData = pd.read_excel("./Data/Raw/Parrilla.xlsx")
parrillaTable = pd.pivot_table(parrillaData, index=["channel", "medium"], columns=["Formato"],
                           values=["inversion"], aggfunc=[np.sum, np.mean])
parrillaTable

                         sum                    mean
                   inversion               inversion
Formato                Corto    Largo          Corto          Largo
channel medium
Caracol Internet     5095054  7456178  727864.857143  828464.222222
        Radio        7239587  7044475  804398.555556  704447.500000
        Televisión   9544020  8096929  734155.384615  736084.454545
RCN     Internet      172266   323000   57422.000000   46142.857143
        Radio         226100   387600   45220.000000   48450.000000
        Televisión    430666   516800   53833.250000   51680.000000

In [16]:
convertionsData = pd.read_excel("./Data/Raw/Conversiones.xlsx")
for i in range(len(convertionsData)):
    if convertionsData.loc[i, "Número objetivo de conversión"] <= convertionsData.loc[i, "Total de conversiones"]:
        convertionsData.loc[i, "Exitosa"] = 1
    else:
        convertionsData.loc[i, "Exitosa"] = 0

convertionsData.head()

,Campaña,Grupo,Asistente,Creatividad,Número objetivo de conversión,Fecha,Medio,source,Total de conversiones,Exitosa
0,Toma Más,5,1,Azucaradas,413,2019-06-01T00:00:00.000Z,3,2,268,0.0
1,La mejor,4,1,Azucaradas,303,2019-06-01T00:00:00.000Z,3,3,168,0.0
2,Toma Más,4,2,Innigualable,433,2019-06-01T00:00:00.000Z,3,5,114,0.0
3,Lo que te hace falta,1,2,Innigualable,152,2019-06-01T00:00:00.000Z,1,4,206,1.0
4,La mejor,2,4,Te lo mereces,389,2019-06-01T00:00:00.000Z,3,2,198,0.0