In [10]:
import pandas as pd

In [22]:
def dataResolveStudio(fileName):
    file = "./Data/Raw/{}.xlsx".format(fileName)
    df = pd.read_excel(file)
    return df.head()

## Analitica

In [23]:
analiticaData = dataResolveStudio("Analitica")

,Marca,Campaña,conversion,Fecha,Medio,Fuente
0,Pepsi,Lo que te hace falta,14,2019-06-09T00:00:00.000Z,Radio,RCN
1,Cocacola,Lo que te hace falta,62,2019-06-09T00:01:00.000Z,Televisión,Facebook
2,Aceite de coco,La mejor,62,2019-06-09T00:01:00.000Z,Internet,RCN
3,Pepsi,Lo que te hace falta,87,2019-06-09T00:02:00.000Z,Internet,RCN
4,Pepsi,La mejor,7,2019-06-09T00:03:00.000Z,Internet,RCN

## Conversiones

In [17]:
dataResolveStudio("Conversiones")

,Campaña,Grupo,Asistente,Creatividad,Número objetivo de conversión,Fecha,Medio,source,Total de conversiones
0,Toma Más,5,1,Azucaradas,413,2019-06-01T00:00:00.000Z,3,2,268
1,La mejor,4,1,Azucaradas,303,2019-06-01T00:00:00.000Z,3,3,168
2,Toma Más,4,2,Innigualable,433,2019-06-01T00:00:00.000Z,3,5,114
3,Lo que te hace falta,1,2,Innigualable,152,2019-06-01T00:00:00.000Z,1,4,206
4,La mejor,2,4,Te lo mereces,389,2019-06-01T00:00:00.000Z,3,2,198

## Demografía

In [19]:
dataResolveStudio("Demografía")

,browser,Ciudad,Fecha,device,ID,Sistema Operativo,Sesion,Duracion,Tiempo en pagina
0,Chrome,Guaspí,2019-06-01T00:00:00.000Z,desktop,1136,Windows,6,51,58
1,Chrome,Guaspí,2019-06-01T00:01:00.000Z,desktop,1224,Windows,9,49,36
2,Chrome,Cereté,2019-06-01T00:01:00.000Z,mobile,1630,Android,2,56,31
3,Chrome,Dallas,2019-06-01T00:02:00.000Z,mobile,1133,Android,4,52,27
4,Chrome,Tunja,2019-06-01T00:03:00.000Z,mobile,1585,Android,9,31,57

## Interacciones

In [20]:
dataResolveStudio("Interacciones")

   Promedio de duración  Tiempo en página    ID      Fecha  hour  minute
0                    27                41  1864 2019-06-05     0      23
1                    27                53  1215 2019-06-05     0      26
2                    14                39  1933 2019-06-05     0       5
3                    47                57  1605 2019-06-05     0       7
4                    24                53  1626 2019-06-05     0       7

## Parrilla

In [21]:
dataResolveStudio("Parrilla")

,channel,end_date,Formato,inversion,medium,rating,reference,start_date
0,Caracol,2019-06-01T09:55:16.000Z,Corto,648723,Radio,3,Tomala,2019-06-01T09:54:56.000Z
1,Caracol,2019-06-01T10:29:44.000Z,Largo,949072,Televisión,8,Tomala,2019-06-01T10:29:24.000Z
2,Caracol,2019-06-01T14:44:27.000Z,Largo,911123,Internet,2,Disfrutala,2019-06-01T14:44:07.000Z
3,Caracol,2019-06-01T19:20:52.000Z,Largo,922200,Internet,2,Tomala,2019-06-01T19:20:32.000Z
4,Caracol,2019-06-02T09:54:08.000Z,Corto,733026,Internet,3,Disfrutala,2019-06-02T09:53:48.000Z