In [10]:
import pandas as pd

In [14]:
def dataResolveStudio(fileName):
    file = "./Data/Raw/{}.xlsx".format(fileName)
    df = pd.read_excel(file)
    return df.head()

## Analitica

In [16]:
dataResolveStudio("Analitica")

,Marca,Campaña,conversion,Fecha,Medio,Fuente
0,Pepsi,Lo que te hace falta,14,2019-06-09T00:00:00.000Z,Radio,RCN
1,Cocacola,Lo que te hace falta,62,2019-06-09T00:01:00.000Z,Televisión,Facebook
2,Aceite de coco,La mejor,62,2019-06-09T00:01:00.000Z,Internet,RCN
3,Pepsi,Lo que te hace falta,87,2019-06-09T00:02:00.000Z,Internet,RCN
4,Pepsi,La mejor,7,2019-06-09T00:03:00.000Z,Internet,RCN

## Conversiones

In [17]:
dataResolveStudio("Conversiones")

,Campaña,Grupo,Asistente,Creatividad,Número objetivo de conversión,Fecha,Medio,source,Total de conversiones
0,Toma Más,5,1,Azucaradas,413,2019-06-01T00:00:00.000Z,3,2,268
1,La mejor,4,1,Azucaradas,303,2019-06-01T00:00:00.000Z,3,3,168
2,Toma Más,4,2,Innigualable,433,2019-06-01T00:00:00.000Z,3,5,114
3,Lo que te hace falta,1,2,Innigualable,152,2019-06-01T00:00:00.000Z,1,4,206
4,La mejor,2,4,Te lo mereces,389,2019-06-01T00:00:00.000Z,3,2,198